@import "./variables";

.setting-bar {
    height: $toolbar-height;
    background-color: rgb(129 182 219);
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 5px rgb(142, 201, 243);
    top: $toolbar-height;
}