@import "./variables";

.toolbar {
    height: $toolbar-height;
    background-color: rgb(129 182 219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 5px rgb(142, 201, 243);
    z-index: 999;

    &__btn {
        height: 26px;
        width: 26px;
        cursor: pointer;
        border: none;
        outline: none;
        background-size: cover;
        margin-left: 15px;
    }

    &__tools {
        display: flex;
        margin-left: 30px;
    }

    &__editor {
        display: flex;
        margin-right: 30px;
    }

    .brush {
        background: url('../assets/img/brush.png') no-repeat center center;
    }

    .rectangle {
        background: url('../assets/img/rectangle.png') no-repeat center center;
    }

    .circle {
        background: url('../assets/img/circle.png') no-repeat center center;
    }

    .eraser {
        background: url('../assets/img/eraser.png') no-repeat center center;
    }

    .line {
        background: url('../assets/img/line.png') no-repeat center center;
    }

    .undo {
        background: url('../assets/img/undo.png') no-repeat center center;
    }

    .redo {
        background: url('../assets/img/redo.png') no-repeat center center;
    }

    .save {
        background: url('../assets/img/save.png') no-repeat center center;
    }

}